.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
} */


.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}
.App-title{
  font-size: 1.52em;
  color: red;
}


.App-intro {
  font-size: large;
}

.navbar {
  margin-top: auto;
}
#top-filler {
  margin-bottom: auto;
}

#nav-container {
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  align-items: flex-end;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
